.site-container {
  min-height: 100vh;
  padding: 2.5rem 1.5rem; /* 40px and 24 px */
}

.content-container {
  display: grid;
  grid-template-columns: [full-start] minmax(1em, 1fr) [content] 10fr [content-end] minmax(1em, 1fr) [full-end];
  padding-top: 4.5rem;
}

.content-container > * {
  grid-column: content;
}