.navbar {
  display: flex;
  align-items: center;
}

.logomark {
  display: flex;
  height: 4.5rem;
  width: 4.5rem;
  border-radius: 50%;
  background-color: black;
  font-family: 'Space Grotesk', sans-serif;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.logo__text {
  font-size: 1.5em;
  font-weight: 600;
  transform: translate(0.125rem, .5rem) rotate(-22.5deg);
  color: white;
}

/* Menu links */
.nav__menu {
  all: unset;
  margin-left: auto;
}

@media screen and (min-width: 48em) {
  .nav__menu {
    display: grid;
    grid-column-start: 10;
    grid-column-end: 13;
    /* navigation subgrid */
    grid-template-columns: repeat(3, 1fr);
    grid-gap: inherit;
  }
}

.nav__item {
  display: inline-block;
  margin-left: 2.5em;
}

.nav__link {
  text-decoration: none;
}